body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1A1B27;
    color: white;
}

/* HEADER */
header {
    background: #3D5AFE;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-btn {
    display: none;
    background: none;
    font-size: 26px;
    border: none;
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 50px 20px;
}

/* BOTONES DE INICIO */
.botones {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background: #7C4DFF;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 18px;
}

/* CARDS */
.contenedor {
    padding: 20px;
}

.card {
    background: #27293D;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.like-btn {
    background: #FF3D7F;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.contador {
    margin-left: 10px;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 700px) {
    .nav ul {
        display: none;
        flex-direction: column;
        background: #3D5AFE;
        padding: 10px;
        border-radius: 10px;
    }

    .menu-btn {
        display: block;
    }
}
